@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}
.cover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:15px;
}
.show-button{
    font-size: 15px;
}
.details{
    font-weight: 200;
}
.movies-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    /* margin:15px; */
    padding: 5px;
    gap:10px
}

.image{
    height: 500px;
    width: 100%;
    object-fit: contain;
}
.error{
    text-align: center;
    color:red;
    
}


